html, body {
	/*background-color: #ffffff;*/
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;  
}


#divPagina {
	position: relative;
	min-height: 100%;
	width: 100%;
	height: 100%;
}


#divBanner {
	height: 100px;
	width: 100%;
    /*background-color: #D6D6D6;*/
    background-color: #e3e3e3;
}

#divRodape {
	bottom: 0;
	position: absolute;
	height: 100px;
	/*background-color: #FFF7D5;*/
	background-color: #e3e3e3;
	width: 100%;
}

.divTelaPequena {
	width: 800px;
}

.messages {
	width: 500px;
}

#divMenu {
	height: 60px;
	width: 100%;
	border: 2px;
}

#divLogin {	
	position:absolute;
		left:45%;
		top:40%;
}


#divLogOff {
	margin-top:-365px;
	left: 35px;
    position: fixed;
}

* html #divPagina {
	height: 100%; /* hack para IE6 que trata height como min-height */
}

.ui-widget {
  font-size: 13px !important;
  border: 0px;
}

#divMensagens {
position:absolute;
    top:50%;
    left:50%;
    z-index:9999;
}


.semBorda tr, .semBorda td {
	border: none !important;
}

.save{
background-image: url("/resources/imagens/table_save.png") !important;
} 

.table_save{
    background-image: url("#{resources['imagens/table_save.png']}") !important;
}

.icone_voltar{
    background-image: url("#{resources['imagens/voltar.png']}") !important;
}

.icone_excluir{
    background-image: url("#{resources['imagens/excluir.png']}") !important;
}

.icone_editar{
	background-image: url('../imagens/editar.png') !important;	
}
