html, body {
	/*background-color: #ffffff;*/
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 9pt;
	font-family:cursive;
	margin: 0px;
}


.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.box {
	width: 300px;
	height: 300px;
	background: #fff;
}

#divPagina {
	position: relative;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

#divConteudo {
	height: 100%;
	width: 100%;
	/*background-color: #D6D6D6;*/
	/*background-color: #e3e3e3;*/
}

#divBanner {
	height: 32px;
	width: 100%;
	/*background-color: #D6D6D6;*/
	/*background-color: #e3e3e3;*/
}

#divRodape {
	bottom: 0;
	position: fixed;
	/*background-color: #FFF7D5;*/
	/*background-color: #e3e3e3;*/
	width: 100%;
}

.divTelaPequena {
	width: 800px;
}

.divTituloPadrao {
	font-size: 15pt;
	font-family:sans-serif;
}

.divTelaCheia {
	width: 100%;
}

.messages {
	width: 500px;
}

#divMenu {
	height: 45px;
	width: 100%;
	border: 0px;
}

#divLogin {
	top: 40%;
	left: 17%;
	position: relative;
	border: none;
}

#divImgFundoLogin {
    left:45%;
    top:50%;
    margin-left:-175px; /* Metade do valor da Largura */
    margin-top:-200px; /* Metade da valor da Altura */
    position:absolute;
    background:#507701;
	width: 350px;
	height: 400px;
	border: none;
	color: white;
	background-color: #729fcf;
	box-shadow: 5px 5px 12px #888888;
}

#divLoginInputEmail {
        height: 30px;
}

#divLoginInputSenha {
        height: 30px;
}

.imgLogin {
	width: 500px; /*width of your image*/
	height: 200px; /*height of your image*/
	background-image: url("#{resources['imagens/fundo_login.png']}")
		!important;
}

#divLogOff {
	margin-top: 5px;
	left: 15px;
	position: fixed;
}

* html #divPagina {
	height: 100%; /* hack para IE6 que trata height como min-height */
}

#divMensagens {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9999;
}
/*
.ui-datatable table {
    border-collapse: collapse;
    width: 100%;
}
*/

/* ************* Formatação do datatable****************** */
/*
thead{
	background-color: #ca450e;
	color: white;
}

.sXdatatable{
	background-color: #555753;
	color: white;
	border: 1px white !important;
	font-weight: bold;
}
*/
/* ************* Formatação do datatable****************** */

.semBorda{
	border: none !important;
}

.panelSemBorda tr, .panelSemBorda td { border: none !important; } 

.myButton {
	box-shadow:inset -4px 11px 0px -50px #9fb4f2;
	background-color:#7892c2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:9px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}



tr td{
	border: 0px;
}

.esquerda {
	float: left;
	padding: 10px;
	height: 100px;
	border-right: 1px solid #000;
	text-align: center;
}

.direita {
	float: left;
	padding: 10px;
	height: 100px;
	width: 100px;
	text-align: center;
}

.save {
	background-image: url("/resources/imagens/table_save.png") !important;
}

.table_save {
	background-image: url("#{resources['imagens/table_save.png']}")
		!important;
}

.icone_voltar {
	background-image: url("#{resources['imagens/voltar.png']}") !important;
}

.icone_excluir {
	background-image: url("#{resources['imagens/excluir.png']}") !important;
}

.icone_editar {
	background-image: url('../imagens/editar.png') !important;
}


.ui-widget-content {
    border: 0px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.ui-menu.ui-widget {
    min-width: 160px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-clip: padding-box;
}

