html, body {
	/*background-color: #ffffff;*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 9pt;
	font-family:cursive;
	margin: 0px;
}

/*
@font-face {
  font-family: "Teko-Medium";
  src: url("../fonts/Teko/Teko-Medium.ttf");
}

@font-face {
  font-family: "DotGothic16-Regular";
  src: url("../fonts/Teko/DotGothic16-Regular.ttf");
}
*/

input{
  color: black;
}

a:link { 
 text-decoration:none; 
} 

a:hover{ 
 color: black !important;
} 

.container {
	width: 100%;
	height: 100%;
	/*
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	*/
}

.box_old {
	width: 300px;
	height: 300px;
	background: #fff;
}



#divPagina {
	position: relative;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

#divConteudo {
	height: 100%;
	width: 100%;
	/*background-color: #D6D6D6;*/
	/*background-color: #e3e3e3;*/
}

.divBarraNavegacao {
	width: 100%;
	height: 35pt;
	background-color: #cc0000;
	display: flex; /*definimos a propriedade display do container como flex. Essa é a configuração que faz com que, de fato, a div utilize o recurso de layout flexível (Flexbox); */
	flex-direction: row; /*com a propriedade flex-direction, fazemos com que os itens internos sejam dispostos horizontalmente, ou seja, em forma de linha (row); */
	justify-content: center; /*configuramos a disposição dos elementos internos como centralizados na direção definida na propriedade anterior, ou seja, os itens ficarão no centro da linha (horizontalmente); */
	align-items: center; /*com a propriedade align-items definida como center, fazemos com que os elementos internos sejam também alinhados na vertical; */
	color: #ffffff;
	font-weight: bold;
}

#divUsuarioAutenticado{
	display: inline-block;
}

#divBarraTopoLogin{
	width: 392px;
	height: 40px;
	/*background: white;*/ 
	display: inline-block;
	position:absolute; /*Em conjunto com o right*/ 
	margin-top: -485px;
	color: white;
	display: flex; /*definimos a propriedade display do container como flex. Essa é a configuração que faz com que, de fato, a div utilize o recurso de layout flexível (Flexbox); */
	flex-direction: row; /*com a propriedade flex-direction, fazemos com que os itens internos sejam dispostos horizontalmente, ou seja, em forma de linha (row); */
	justify-content: center; /*configuramos a disposição dos elementos internos como centralizados na direção definida na propriedade anterior, ou seja, os itens ficarão no centro da linha (horizontalmente); */
	align-items: center; /*com a propriedade align-items definida como center, fazemos com que os elementos internos sejam também alinhados na vertical; */
}

#divBarraInferiorLogin{
	width: 392px;
	height: 40px;
	background: white; 
	display: inline-block;
	position:absolute; /*Em conjunto com o right*/ 
	margin-top: 485px;
	color: red;
	display: flex; /*definimos a propriedade display do container como flex. Essa é a configuração que faz com que, de fato, a div utilize o recurso de layout flexível (Flexbox); */
	flex-direction: row; /*com a propriedade flex-direction, fazemos com que os itens internos sejam dispostos horizontalmente, ou seja, em forma de linha (row); */
	justify-content: center; /*configuramos a disposição dos elementos internos como centralizados na direção definida na propriedade anterior, ou seja, os itens ficarão no centro da linha (horizontalmente); */
	align-items: center; /*com a propriedade align-items definida como center, fazemos com que os elementos internos sejam também alinhados na vertical; */
}

#divLeft{
	display: inline-block;
	position:absolute; /*Em conjunto com o right*/
	left:0; /*Posiciona a div no canto esquerdo da tela*/ 
	top:0; 
	margin-left: 10px;
}

#divRight{
	display: inline-block;
	position:absolute; /*Em conjunto com o right*/ 
	right:0; /*Posiciona a div no canto direito da tela*/
	top: 0;
	margin-right: 10px;
}

#divBanner {
	height: 32px;
	width: 100%;
	/*background-color: #D6D6D6;*/
	/*background-color: #e3e3e3;*/
}

#divRodape {
	bottom: 0;
	position: fixed;
	/*background-color: #FFF7D5;*/
	/*background-color: #e3e3e3;*/
	width: 100%;
}

.divTelaPequena {
	width: 800px;
}

.divTituloPadrao {
	font-size: 15pt;
	font-family:sans-serif;
}

.divTelaCheia {
	width: 100%;
}

.messages {
	width: 500px;
}

#divMenu {
	/*height: 45px;*/
	width: 100%;
	border: 0px;
}

/*
#divLogin {
	top: 40%;
	left: 17%;
	position: relative;
	border: none;
}
*/

#divCardTelaInteira{
	width: 99vw;
	height:90%;
	/*background: #507701;  */
	display: inline-block; /*Posiciona os DIVS(objetos) internos um embaixo do outro como se fosse um quebra de linnha para divs*/
}

#divCardContainer{
	width: 100%;
	height:100%;  
	display: inline-block; /*Posiciona os DIVS(objetos) internos um embaixo do outro como se fosse um quebra de linnha para divs*/
	margin-top: 180px;
}

.calssNovaLinha{
	margin-top: 5px; 
	
}

/*
.ui-commandLink.ui-widget:hover{
	color: black;
}
*/

/*
.ui-button .ui-button-text{
 border: 0;
 background: none;
 box-shadow: none;
 border-radius: 0px;
}
*/

.classItemHorizontalMenuProduto{
	width: 100%;
    height: 25px;
	background: #f51616;
	margin-top: 2px;
	color: white;
	
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-weight: bold;
}
.classItemHorizontalMenuProduto:hover{
	background: #fce94f; 
	color: black;
}

.classItemHorizontalMenuVenda{
	width: 100%;
    height: 25px;
	background: #0C5558;
	margin-top: 2px;
	color: white;
	
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-weight: bold;
}
.classItemHorizontalMenuVenda:hover{
	background: #fce94f; 
	color: black;
}

.classItemHorizontalMenuUsuario{
	width: 100%;
    height: 25px;
	background: #560f3c;
	margin-top: 2px;
	color: white;
	
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-weight: bold;
}
.classItemHorizontalMenuUsuario:hover{
	background: #fce94f; 
	color: black;
}


#divCardPequeno {
	background: #507701;
	width: 200px;
	height: 250px;
	border: none;
	color: white;
	margin-left:0px;
}

#box {
  width: 50%;
  height: 187pt;
  /*margin: 1.0em 1em;*/
  /*box-sizing: border-box;*/
  /*border: 1px solid black;*/
  /*background-color: #f57900;*/
  display: flex; /*definimos a propriedade display do container como flex. Essa é a configuração que faz com que, de fato, a div utilize o recurso de layout flexível (Flexbox); */
  flex-direction: row; /*com a propriedade flex-direction, fazemos com que os itens internos sejam dispostos horizontalmente, ou seja, em forma de linha (row); */
  justify-content: center; /*configuramos a disposição dos elementos internos como centralizados na direção definida na propriedade anterior, ou seja, os itens ficarão no centro da linha (horizontalmente); */
  align-items: center; /*com a propriedade align-items definida como center, fazemos com que os elementos internos sejam também alinhados na vertical; */
  margin-left: 24%;
}


#divBoxLogin {
	/*left:45%;*/
	/*top:50%;*/
	/*margin-left:-175px;*/ /* Metade do valor da Largura */
	margin-top:200px; /* Metade da valor da Altura */
	width: 300pt;
	height: 400pt;
	/*position:absolute;*/
	color: white;
	background-color: #1B1464;
	box-shadow: 5px 5px 12px #888888;

	display: flex; /*definimos a propriedade display do container como flex. Essa é a configuração que faz com que, de fato, a div utilize o recurso de layout flexível (Flexbox); */
	flex-direction: row; /*com a propriedade flex-direction, fazemos com que os itens internos sejam dispostos horizontalmente, ou seja, em forma de linha (row); */
	justify-content: center; /*configuramos a disposição dos elementos internos como centralizados na direção definida na propriedade anterior, ou seja, os itens ficarão no centro da linha (horizontalmente); */
	align-items: center; /*com a propriedade align-items definida como center, fazemos com que os elementos internos sejam também alinhados na vertical; */

}

#divLoginInputEmail {
        height: 30px;
}

#divLoginInputSenha {
        height: 30px;
}

.imgLogin {
	width: 500px; /*width of your image*/
	height: 200px; /*height of your image*/
	background-image: url("#{resources['imagens/fundo_login.png']}")
		!important;
}

#divLogOff {
/*	margin-top: 5px;*/
	left: 15px;
	position: fixed;
}

* html #divPagina {
	height: 100%; /* hack para IE6 que trata height como min-height */
}

#divGridItemVenda {
	width: 100%;
}

#divMensagens {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9999;
}
/*
.ui-datatable table {
    border-collapse: collapse;
    width: 100%;
}
*/

/* ************* Formatação do datatable****************** */
/*
thead{
	background-color: #ca450e;
	color: white;
}

.sXdatatable{
	background-color: #555753;
	color: white;
	border: 1px white !important;
	font-weight: bold;
}
*/
/* ************* Formatação do datatable****************** */

.semBorda{
	border: none !important;
}

.panelSemBorda tr, .panelSemBorda td { border: none !important; }  

.myButton {
	box-shadow:inset -4px 11px 0px -50px #9fb4f2;
	background-color:#7892c2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:9px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*  ---FLAT BOTÃO VERDE ------------------- */
.btFlatVerde{
	background: green !important;  
	color: white !important;
	width: 118pt;
}
.btFlatVerde:hover{
	background: #fce94f !important; 
	color: black  !important;  
}
.btFlatVerde:disabled{
	background: #888a85!important; 
	color: white  !important;  
}
/*  ---FLAT BOTÃO VERMELHO ------------------- */
.btFlatVermelho{
	background: #cc0000 !important;  
	color: white !important;
	width: 118pt;
}
.btFlatVermelho:hover{
	background: #fce94f !important; 
	color: black  !important;  
}
.btFlatVermelho:disabled{
	background: #888a85!important; 
	color: white  !important;  
}
/*  ---FLAT BOTÃO AZUL ------------------- */
.btFlatAzul{
	background: #729fcf! important;  
	color: white !important;
	width: 118pt;
}
.btFlatAzul:hover{
	background: #fce94f !important; 
	color: black  !important;  
}
.btFlatAzul:disabled{
	background: #888a85!important; 
	color: white  !important;  
}
/*  --------------------------------------- */

tr td{
	border: 0px;
}

.esquerda {
	float: left;
	padding: 10px;
	height: 100px;
	border-right: 1px solid #000;
	text-align: center;
}

.direita {
	float: left;
	padding: 10px;
	height: 100px;
	width: 100px;
	text-align: center;
}

.save {
	background-image: url("/resources/imagens/table_save.png") !important;
}

.table_save {
	background-image: url("#{resources['imagens/table_save.png']}")
		!important;
}

.icone_voltar {
	background-image: url("#{resources['imagens/voltar.png']}") !important;
}

.icone_excluir {
	background-image: url("#{resources['imagens/excluir.png']}") !important;
}

.icone_editar {
	background-image: url('../imagens/editar.png') !important;
}


.ui-widget-content {
    border: 0px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.ui-menu.ui-widget {
    min-width: 160px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-clip: padding-box;
}

